[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker
ExecStart=/usr/bin/docker -d $DOCKER_OPTS -H fd://
Restart=on-failure
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target

